{% extends 'approvals/homepage.html' %}

{% block content %}

<div class="card bg-dark text-white text-center">
    <div class="card-header">
      <h3> Application </h3>
    </div>
    <div class="card-body bg-dark text-white">
      <h5 class="card-title">{{application.template_id}} - {{application.applicant}}</h5>
      <hr>
      <p class="card-text">{{application.response}}</p>
      <hr>
      <p class="info">{{application.status}}</p>
      <hr>

      {% if application.status == "Waiting for approval" and position.name == "1" and position.name in participants  %}
      <a href="{% url 'deleteRequest' application.id %}" class="btn btn-danger">Delete</a>
      <a href="{% url 'approveRequest' application.id %}" class="btn btn-success">Approve</a>
      {% endif %}

      {% if application.status == "Approved by MIS Officer" and position.name == "2" and position.name in participants %}
      <a href="{% url 'deleteRequest' application.id %}" class="btn btn-danger">Delete</a>
      <a href="{% url 'approveRequest' application.id %}" class="btn btn-success">Approve</a>
      {% endif %}

      {% if application.status == "Approved by Head of Department" and position.name == "3" and position.name in participants %}
      <a href="{% url 'deleteRequest' application.id %}" class="btn btn-danger">Delete</a>
      <a href="{% url 'approveRequest' application.id %}" class="btn btn-success">Approve</a>
      {% endif %}
      
    </div>
    <div class="card-footer text-muted">
      {{application.template_id.start_time}}
    </div>
  </div>

{% endblock %}