{% extends 'approvals/homepage.html' %}

{% block content %}

<div class="card text-center">
    <div class="card-header">
      Application
    </div>
    <div class="card-body">
      <h5 class="card-title">{{application.template_id}}</h5>
      <p class="card-text">{{application.response}}</p>
      <p class="info">{{application.status}}</p>
      
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

{% endblock %}