{% extends 'approvals/homepage.html' %}

{% block content %}

<h2 class="text-center text-white"> Statistics </h2>
<ul class="list-group">
    <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
      Total users
      <span class="badge badge-dark badge-pill">{{users}}</span>
    </li>
    <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
      Students
      <span class="badge badge-dark badge-pill">{{studs}}</span>
    </li>
    <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
      Employees
      <span class="badge badge-dark badge-pill">{{emps}}</span>
    </li>
    <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
        Templates
        <span class="badge badge-dark badge-pill">{{temps}}</span>
    </li>
    <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
        Requests
        <span class="badge badge-dark badge-pill">{{reqs}}</span>
    </li>
  </ul>

{% endblock %}